# Node
node_modules/

# Builds
app/dist/
app/build/

# Logs
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# OS
.DS_Store
Thumbs.db

# Local assets not for repo
website/downloads/
errors-picks/
site-picks/
